<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <h1>MY TASKS</h1>
    <!-- form to add a new task -->
   <div class="input-row">
     <form action="/addTask" method="POST">
        <input id="inputTask" type="text" placeholder="Add a new task..." name="task">
        <button type="submit">Add Task</button>
    </form>
   </div>

    <ul class="tasks">
        <!-- loops thought the array of objects and displays each object task name in the screen -->
    <% info.forEach(task =>{%>
        <!-- checks if the task element has the class of completed or not  -->
        <li class="task <%=task.completed ? 'completed' : '' %> ">
                        
            <span class="taskName"><%= task.task %></span>
            
            <div class="buttons">
            <button class="completedButton">
                <!-- adds the button images -->
            <i class="fa-regular fa-circle-check"></i>
            </button>
            <button class="deleteButton">
                <!-- adds the button images -->
            <i class="fa-solid fa-trash-can"></i>
            </button>
            </div>

        </li>
    <% }) %>
    </ul>
    
    </div>
    <!-- loads the client main.js file in the 'public' folder -->
    <script src='/main.js'></script>

    
</body>
</html>