<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>

    <h1>MY TASKS</h1>
    <ul class="tasks">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="task">
            <span><%= info[i].stageName %></span>
            <span><%= info[i].birthName %></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <form action="/addTask" method="POST">
        <input type="text" placeholder="Add a new task..." name="task">
        <input type="submit">
    </form>

    <form action="/deleteTask" method="DELETE">
        <input type="text" placeholder="delete a task..." name="task">
        <input type="submit">
    </form>
    
    
    

    <!-- <script src='js/main.js'></script> -->

    
</body>
</html>